body {
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    text-align: center;
    
}

h1 {
    color: #eee;
    padding: 12px;
}

h2 {
    font-size: 24px;
}

p {
    padding-left: 220px;
    padding-right: 40px;
}

a {
    color:#d21034;
}

.container {
    margin: 0 auto;
    width: 1024px;
    line-height: 1.5;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#bio-image {
    width: 200px;
    margin: auto;
}

#main-bio {
    width:70%;
}


#contact-info {
    width: 30%
}





